<section class="row" style="background:#6446A1">
        <div class="col-md-4">
            <h4>Contact Us through:</h4>
            <b>Email:</b>info@airbnbke.com <br>
            <b>Tel:</b>+25475689983 <br><br><hr>
             <b><h4>Connect with us on: <br></b>
            <a href="www.instagram.com">Instagram
            </a><br>
            <a href="www.twitter.com">Twitter
            </a><br>
            <a href="www.telegram.com">Telegram
            </a>

        </div>
        <div class="col-md-4"><br>
            <img src="../static/logo2.png" alt="" style="width:400px;height:200px;">

        </div>
        <div class="col-md-4">
            <i class="fas fa-user-friends" style="font-size:30px; color:lime green"></i><br>
            <b class="text-success">Subscribe to our Newsletter</b><br>
            <p class="text-muted">Subscribe to our Newsletter to receive special offers</p>
            <form action="">
                <input type="email" placeholder="Your Email">
                <input type="submit" class="btn btn-success" value="Send">
            </form>
            <b>We accept payment via</b><br>
            <img src="../static/mpesa.jpeg" alt="" width="30%">


        </div>

    </section>